@charset "utf-8";

/* 検証ツールからコピーしたもの */
body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, YuGothic, 游ゴシック体, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
    margin: 0px;
}
/*　ここまでコピーしました */
/* https://developer.mozilla.org/ja/docs/Web/CSS/text-size-adjust　*/

ul {
    list-style: none;
}

li {
    list-style: none;
}

section{
	clear:both;
	padding-top: 71px;
    padding-bottom: 41px;
}

/* section{ */
	/* text-align: center; */
    /* background-image: url(images/borderBlack.png) repeat-x 50%; */
    /* repeatは背景画像の繰り返し方法を指定します。 */
    /* background-size: 1px 1px; */
    /* padding-top: 30px; */
/* } */

section h2{
	font-family: 'Pacifico', cursive;
	width: 60%;
	margin: 0 auto 40px;
	font-size: 26px;
	font-weight:bold;
	text-align: center;
	background: url(images/borderBlack.png) repeat-x 0 50%;
	background-size: 1px 1px;
}

section h2 span {
	background: #fff;
	padding: 0 80px;
}

/* class */
.LongText{
	width: 60%;
	margin: 0 auto;
    padding-top: 20px;
	padding-bottom: 50px;
    text-align: left;
}

.LongText2{
	width: 60%;
	margin: 0 auto;
	/* padding-bottom: 80px; */
    text-align: left;
}

.img {
    background-color: rgb(226, 226, 226);
    margin-right: 30px;
    margin-left: 30px;
    padding: 90px 80px;
}

.img img {
    width: 150px;
    height: 100px;
}

.inner {
    width: 94%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.innerS {
    width: 65%;
	margin: 0 auto;
	padding-bottom: 80px;
}


/* classEnd */

/* Top */
#header div h1 {
    text-align: center;
}

#TopLogo {
    padding-top: 50px;
    padding-bottom: 15px;
}

#TopLogo img {
    width: 140px;
    height: 80px;
}

#MainImage {
    position: relative;
    overflow: hidden;
    /* overflow: hidden; の内容は、必要に応じてパディングボックスに合わせて切り取られます。スクロールバーは表示されず、ユーザーがスクロールできるようにするための対応 (ドラッグやスクロールホイールによる方法) もありません。内容はプログラム的に (例えば、 offsetLeft のようなプロパティの値を設定する方法などで) スクロールすることができますので、要素はスクロールコンテナーになります。 */
    width: 100%;
    height: 528px;
}

#MainImage img {
    position: absolute;
    left: 50%;
	max-width: 1280px;
    width: 1280px;
    height: 528px;
    margin-left: -640px;
}

#nav {
    width: 100%;
    padding-bottom: 30px;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#nav ul li  {
    display: inline-block;
    width: 7.5%;
}

/* 文字の線を消す設定 */
#nav ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial - 300;
}

/* 文字の色を変えず線を入れる設定 */
#nav ul li a:hover {
    text-decoration: underline;
}
/* TopEnd */
/* Message */
/* MessageEnd */
/* Gallery */
#GalleryImages {
    display: grid;
    grid-template-columns: 482px 482px 482px;
    /* width: 100%; */
    justify-content:center;
    margin-left: -48px;
    /* justify-contentプロパティは、フレックスコンテナーの主軸およびグリッドコンテナーのインライン軸に沿って、中身のアイテムの間や周囲に間隔を配置する方法を定義します。 */
}

#GalleryImages li {
    width: 482px;
    height: 482px;
}

#GalleryImages img {
    width: 482px;
    height: 482px;
}

#MainImage {
    text-align: center;
}
/* GalleryEnd */
/* Project */

#ImgProject {
    text-align: center;
}

#ImgProject img {
    width: 60%;
    height: auto;
    /* width: 700px; */
    /* height: 300px; */
}

#SubImg img {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

#SubImg {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* ProjectEnd */
/* Brand */
#ImgAndLongText2 {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    /* width: 100%; */
    margin-left: -40px;
    justify-content: center;
}

#ImgAndLongText2 img {
    display: block;
	margin: 0 auto 5px;
    margin-bottom: 0px;
}

#ImgAndLongText2 li {
    line-height: 2.0;
    padding-bottom: 20px;
}

#ImgAndLongText2 .img {
    /* padding: 80px 50px; */
	margin-bottom: 40px;
	line-height: 0 !important;
	background: #f6f6f6;
}
/* line-height は CSS のプロパティで、行ボックスの高さを設定します。これは主にテキストの行間を設定するために使用します。ブロックレベル要素では、要素に含まれる行ボックスの最小の高さを指定します。非置換インライン要素では、行ボックスの高さの計算に使われる高さを指定します。 */


#ImgAndLongText2 .LongText2 {
    width: 80%;
}

/* 検証ツールを元に書いたコード */
#BgSec04AndLogoBrand {
    background: url(images/bgSec04.jpg) no-repeat 100% 100% fixed;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	padding: 220px 20px;
    /* width: 100%; */
    /* height: 500px; */
    /* position: relative; */
    /* overflow: hidden; */
    /* text-align: center; */
}
/* ここまで検証ツールをもとにしました。 */
/* coverとは画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小します。画像の縦横比が要素と異なる場合、空き領域が残らないように上下または左右のどちらかを切り取ります。 */

/* #LogoBrand { */
    /* position: absolute; */
    /* top: 40%; */
    /* left: 40%; */
/* } */

/* #LogoBrand img { */
    /* width: 310px; */
    /* height: 100px; */
/* } */
/* BrandEnd */
/* Company */
/* #COMPANY div ul li { */
    /* display: inline-block; */
	/* width: 100%; */
	/* margin: 20px 0; */
/* } */

#COMPANY p{
    margin-bottom: 5px;
    line-height: 1.2;
    /* width: 300px; */
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
}

#address  {
    display:grid;
    grid-template-columns:38% 52%;
  }
/* https://qiita.com/kura07/items/e633b35e33e43240d363 */

#address li {
    /* display: inline-block; */
	/* width: 100%; */
	margin-bottom: 20px;
}

#SNS {
    padding-top: 25px;
}

#SNS img {
    width: 20px;
    height: auto;
    padding-right: 10px;
}

#SNS a:hover img{
	opacity: .8;
}

#googleMap{
	position: relative;
    padding: 70px 250px;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	z-index: 0;
}

#googleMap iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 120% !important;
	height: 90% !important;
    /* 通常CSSでは後から書いたものほど優先されるけど、!importantを使った部分は記述場所に関係なく優先されるよ。 */
	border: 0;
}
/* CompanyEnd */
/* footer */
footer {
    font-size: 11px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
/* footerEnd */

/* --------responsiveDesign(max-width:480px)---------- */
@media screen and (max-width:480px) {

    body {
        font-size: 14px;
    }

    section h2{
        font-family: 'Pacifico', cursive;
        width: 200px;
        margin: 0 auto 40px;
        font-size: 26px;
        font-weight:bold;
        text-align: center;
        background: url(images/borderBlack.png) repeat-x 0 50%;
        background-size: 1px 1px;
        padding-left: 5px;
        padding-right: 5px;
        /* margin-left: 65px; */
    }

    section h2 span {
        padding-left: 20px;
        padding-right: 20px;
    }

/* class */
    .LongText {
        width: 95%;
        height: auto;
        text-align: left;
    }

    .img {
        background-color: rgb(226, 226, 226);
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 4px;
        margin-bottom: 0px;
    }

    .img img {
        width: 170px;
        height: 106px;
        margin-right: 0px;
    }
/* classEnd */
/* Top */
    /* #header { */
        /* position: fixed; */
    /* } */

    #header {
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: white;
        z-index: 10;
        /* z-indexに関するサイト https://techacademy.jp/magazine/34566 */
    }

    #TopLogo{
		position: relative;
		width: 100%;
		height: 70px;
		background: #fff;
		border-bottom: 1px solid #ccc;
        /* padding-top: 30px; */
        padding-top: 0px;
        padding-bottom: 0px;
	}
	
	#header h1{
		padding-top: 10px;
        margin: 0px;
	}
	
	#header h1 img{
		margin-top: 3px;
		max-height: 45px;
		width: auto !important;
	}

    #header div h1 {
        text-align: center;
    }
    
    #nav {
        display: none;
    }

    /* #MainImage { */
        /* position: static; */
    /* } */
/* TopEnd */
/* Message */
/* MessageEnd */
/* Gallery */
    #GalleryImages {
        display: flex;
        flex-direction: column;
    }

    #GalleryImages li {
        width: 100%;
        height: auto;
    }

    #GalleryImages img {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0px;
    }
/* GalleryEnd */
/* Project */
    #ImgProject img {
        width: 95%;
        height: auto;
        /* width: 700px; */
        /* height: 300px; */
    }

/* ProjectEnd */
/* Brand */
    #ImgAndLongText2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
    }

    /* #ImgAndLongText2 .img { */
        /* width: 375px; */
        /* height: 200px; */
        /* margin-bottom: 10px; */
        /* line-height: 0 !important; */
        /* background: #f6f6f6; */
        /* background-size: 100%; */
    /* } */

    /* #ImgAndLongText2 .img img { */
        /* margin: 0px; */
        /* margin-right: 0px; */
    /* } */

    #ImgAndLongText2 p {
        width: 70%;
        /* margin-left: 10px; */
    }

    #ImgAndLongText2 .LongText2 {
        width: 95%;
        font-size: 13px;
        padding-top: 0px;
    }

    #BgSec04AndLogoBrand {
        position: relative;
        overflow: hidden;
        text-align: center;
        width: 90%;
        height: 0px;
        padding-top: 0px;
    }

    #BgSec04AndLogoBrand img {
        position: absolute;
        top: 30%;
        bottom: 10%;
        right: 60%;
        left: 5%;
        width: 330px;
        height: 100px;
    }

    #LogoBrand img {
        width: 300px;
        height: 100px;
    }


/* BrandEnd */
/* Company */
    #address {
        display: flex;
        flex-direction: column;  
    }
    #address li {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    #addressOfText {
        margin-left: -100px;
    }

    #googleMap {
        width: 60%;
        height: 110px;
        padding: 50%;
        margin-left: -80px;
        /* text-align: center; */
    }
/* CompanyEnd */
}
/* --------responsiveDesign(max-width:960px)---------- */
@media screen and (max-width:960px) and (min-width:481px) {
    body {
        font-size: 14px;
    }
/* class */
    .img {
        background-color: rgb(226, 226, 226);
        /* margin-right: 100px; */
        /* margin-left: 100px; */
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .img img {
        width: 120px;
        height: 70px;
    }

    .LongText2{
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }
/* classEnd */
/* Top */
    #nav {
        width: 100%;
    }
    
    #nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    #nav ul li  {
        display: inline-block;
        width: 14%;
    }
/* TopEnd */
/* Message */
/* MessageEnd */
/* GalleryImages */
    #GalleryImages {
        display: grid;
        grid-template-columns: 270px 270px 270px;
        width: 100%;
        justify-content:center;
    }

    #GalleryImages li {
        width: 270px;
        height: 270px;
    }

    #GalleryImages img {
        width: 270px;
        height: 270px;
    }
/* GalleryImagesEnd */
/* Project */
    #SubImg img {
        text-align: center;
        overflow: hidden;
        width: 100%;
        height: auto;
    }
/* ProjectEnd */
/* Brand */
    #ImgAndLongText2 { 
        display: grid;
        grid-template-columns: 270px 270px 270px;
        justify-content: center;
    }

    #BgSec04AndLogoBrand {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    #BgSec04AndLogoBrand img {
        position: absolute;
        top: 38%;
        left: 31%;
    }
    
    #LogoBrand img {
        width: 400px;
        height: 100px;
    }
/* BrandEnd */
/* Company */
    #googleMap {
        width: 5%;
        height: auto;
        padding: 50%;
        /* margin-left: -80px; */
        /* text-align: center; */
    }

    #address li {
        padding: 10px;
    }
/* CompanyEnd */
}